{% load static %}
<!DOCTYPE html>

<html lang="en-us">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>微博舆情传播首页</title>

<!-- Load fonts -->
<link href='http://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Lora' rel='stylesheet' type='text/css'>

<!-- Load css styles -->

	<link rel="stylesheet" href="{% static 'login/css/bootstrap.css' %}">
	<link rel="stylesheet" href="{% static 'login/css/font-awesome.css' %}">
	<link rel="stylesheet" href="{% static 'login/css/style.css' %}">

</head>
<body>
<div class="jumbotron home home-fullscreen" id="home">
	<div class="mask"></div>
	<a href="#" class="logo">
		<img src="{% static 'login/img/logo.png' %}" alt="Moderno - Theme">
	</a>
	<a href="" class="menu-toggle" id="nav-expander"><i class="fa fa-bars"></i></a>
	<!-- Offsite navigation -->
	<nav class="menu">
		<a href="#" class="close"><i class="fa fa-close"></i></a>
		<h3>Menu</h3>
		<ul class="nav">
			<li><a data-scroll href="#home">Home</a></li>
			<li><a data-scroll href="#services">Service</a></li>
			<li><a data-scroll href="#portfolio">Portfolio</a></li>
			<li><a data-scroll href="#contact">Contact</a></li>
		</ul>
		<ul class="social-icons">
			<li><a href=""><i class="fa fa-facebook"></i></a></li>
			<li><a href=""><i class="fa fa-twitter"></i></a></li>
			<li><a href=""><i class="fa fa-dribbble"></i></a></li>
			<li><a href=""><i class="fa fa-behance"></i></a></li>
			<li><a href=""><i class="fa fa-pinterest"></i></a></li>
		</ul>
	</nav>
	<div class="container">
		<div class="header-info">
			<h1 class="title">微博传播分析</h1>
			<p class="subtitle">单条微博传播路径精准刻画
			</p>
			<a href="{% url 'login:login'%}" class="btn btn-primary ">进入首页</a>
		</div>
	</div>
</div>
<!-- Services section start -->
<section id="services">
	<div class="container">
		<div class="row">
			<div class="col-md-4">
				<div class="service-item">
					<div class="icon"><i class="fa fa-diamond"></i></div>
					<h3>We Are Creative</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua Ut enim ad minim veniam,
						quis nostrud exercitation ullamco.
					</p>
				</div>
			</div>
			<div class="col-md-4">
				<div class="service-item">
					<div class="icon"><i class="fa fa-gear"></i></div>
					<h3>We Have Skills</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua.
					</p>
				</div>
			</div>
			<div class="col-md-4">
				<div class="service-item">
					<div class="icon"><i class="fa fa-life-ring"></i></div>
					<h3>We Love To Help</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua Ut enim ad minim veniam.
					</p>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- Services section end -->

<!-- Load jQuery -->
<script type="text/javascript" src="{% static 'login/js/jquery-1.11.2.min.js' %}"></script>

<!-- Load Booststrap -->
<script type="text/javascript" src="{% static 'login/js/bootstrap.js' %}"></script>
<script type="text/javascript" src="{% static 'login/js/smooth-scroll.js' %}"></script>

<!-- Load custom js for theme -->
<script type="text/javascript" src="{% static 'login/js/app.js' %}"></script>
</body>
</html>