{% load static %}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>

	<link href="{% static 'login/madecss/fonts3.css' %}" rel="stylesheet">
<!-- <link rel="stylesheet" href="assets/materialize/css/materialize.min.css" media="screen,projection" />-->
    <link href="{% static 'login/assets/materialize/css/materialize.min.css' %}" media="screen,projection" rel="stylesheet"/>
    <!-- Bootstrap Styles-->
   <!--  <link href="assets/css/bootstrap.css" rel="stylesheet" />-->
    <link href="{% static 'login/assets/css/bootstrap.css' %}" rel="stylesheet"/>
    <!-- FontAwesome Styles-->
<!--    <link href="assets/css/font-awesome.css" rel="stylesheet" /> -->
    <link href="{% static 'login/assets/css/font-awesome.css' %}" rel="stylesheet"/>
    <!-- Morris Chart Styles-->
<!--    <link href="assets/js/morris/morris-0.4.3.min.css" rel="stylesheet" />  -->
    <link href="{% static 'login/assets/js/morris/morris-0.4.3.min.css' %}" rel="stylesheet"/>
    <!-- Custom Styles-->
    <!--    <link href="assets/css/custom-styles.css" rel="stylesheet" /> -->
    <link href="{% static 'login/assets/css/custom-styles.css' %}" rel="stylesheet"/>
    <!-- Google Fonts-->
    <link href='{% static 'login/madecss/fonts4.css' %}' rel='stylesheet' type='text/css' />
   <!-- <link rel="stylesheet" href="assets/js/Lightweight-Chart/cssCharts.css"> -->
     <link href="{% static 'login/assets/js/Lightweight-Chart/cssCharts.css' %}" rel="stylesheet"/>
     <!-- echarts-->
  <!--  <script src="echarts/echarts.min.js"></script> -->
    <script src="{% static 'login/echarts/echarts.min.js' %}"></script>
  <!--  <script src="echarts/echarts.js"></script> -->
    <script src="{% static 'login/echarts/echarts.js' %}"></script>
    <script src="{% static 'login/madecss/echarts.js' %}"></script>
    <script src="{% static 'login/echarts-wordcloud-master/dist/echarts-wordcloud.js' %}"></script>

</head>

<body>
    <div id="wrapper">
        <nav class="navbar navbar-default top-navbar" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle waves-effect waves-dark" data-toggle="collapse" data-target=".sidebar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand waves-effect waves-dark" href="index.html"><span class="glyphicon glyphicon-search"></span><strong>掘微舆情</strong></a>
                
        <div id="sideNav" href=""><i class="material-icons dp48">toc</i></div>
            </div>

            <ul class="nav navbar-top-links navbar-right"> 
                
                  <li><a class="dropdown-button waves-effect waves-dark" href="#!" data-activates="dropdown1"><i class="fa fa-user fa-fw"></i> <b>yuanyilin</b> <i class="material-icons right">arrow_drop_down</i></a></li>
            </ul>
        </nav>
        <!-- Dropdown Structure -->
<ul id="dropdown1" class="dropdown-content">
{#<li><a href="#"><i class="fa fa-user fa-fw"></i> My Profile</a>#}
{#</li>#}
{#<li><a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>#}
{#</li> #}
<li><a href="/logout/"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
</li>
</ul>
 
       <!--/. NAV TOP  左边侧栏--> 
        <nav class="navbar-default navbar-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav" id="main-menu">


                    <!-- <li>
                        <a class=" waves-effect waves-dark" href="index.html"><i class="fa fa-home"></i> 首页</a>
                    </li> -->
                    <li>
                        <a class="waves-effect waves-dark" href="{% url 'login:search_form' %}"><i class="fa fa-home"></i> 首页</a>
                    </li>
                      <li>
                        <a href="{% url 'login:table' event.id %}" class=" waves-effect waves-dark"><i class="fa fa-list-alt"></i> 事件概况</a>
                    </li>
                    <li>
                        <a href="{% url 'login:spread' event.id %}" class="  waves-effect waves-dark"><i class="fa fa-signal"></i> 传播分析</a>
                    </li>
                    <li>
                        <a href="{% url 'login:remark' event.id %}" class="active-menu waves-effect waves-dark"><i class="fa fa-comments"></i> 舆论聚合</a>
                    </li>
                    <li>
                        <a href="{% url 'login:people' event.id %}" class="waves-effect waves-dark"><i class="fa fa-user"></i>人群画像</a>
                    </li>
                </ul>

            </div>

        </nav>
        <!-- /. NAV SIDE  -->
      <!--  主内容 -->
        <div id="page-wrapper">
          <div class="header"> 
                        <h1 class="page-header">
                            舆论聚合
                        </h1>
                        <ol class="breadcrumb">
                      <li><a href="remark.html">Remark</a></li>
                      
                      <li class="active">Data</li>
                    </ol> 
                                    
        </div>
            <div id="page-inner">

             <div class="col-md-12">
                   <div class="card">
                    <div class="icon-preview col s6 m3"><i class="material-icons dp48"></i> <span class="glyphicon glyphicon-cloud">词云分析</span></div>

                     <div id="mywords" style="width: 780px;height:480px;"></div>

                          <script type="text/javascript">

                    var myWords= echarts.init(document.getElementById('mywords'));


        // 基于准备好的dom，初始化echarts实例
        option = {

    tooltip: {
        show: true
    },
    toolbox: {
        show : true,
        feature : {
            mark : {show: true},
            saveAsImage : {show: true}
        }
    },
    series: [{
        type: "wordCloud",
        gridSize:6,
        shape:'star',
        sizeRange: [12, 50],
        width:700,
        height:480,
        textStyle: {
            normal: {
                color: function() {
                    return 'rgb(' + [
                        Math.round(Math.random() * 160),
                        Math.round(Math.random() * 160),
                        Math.round(Math.random() * 160)
                    ].join(',') + ')';
                }
            },
            emphasis: {
                shadowBlur: 10,
                shadowColor: '#333'
            }
        },

        data: {{ word_cloud|safe }}
    }]

};
        myWords.setOption(option);
    </script>
                    </div>
            </div>  
                        
             <div class="col-md-12">

                    <div class="card">
                         <div class="icon-preview col s6 m3"><i class="material-icons dp48">message</i><span>意见领袖观点</span></div>
                          <div class="row">
                <div class="col-md-4 col-sm-4">
                    <div class="card">
                        <div class="card-image waves-effect waves-block waves-light">
                          <img class="leaderimg"  src="{{ person.person1_pic }}">
                        </div>
                        <div class="card-content">
                          <span class="card-title activator grey-text text-darken-4">{{ person.person1_name |truncatechars:5}}<i class="material-icons right">more_vert</i></span>
                         
                        </div>
                        <div class="card-reveal">
                          <span class="card-title grey-text text-darken-4">{{ person.person1_name }}<i class="material-icons right">close</i></span>
                          <p>{{ person.person1_remark }}</p>
                        </div>
                      </div>
                </div>
                 <div class="col-md-4 col-sm-4">
                    <div class="card">
                        <div class="card-image waves-effect waves-block waves-light">
                          <img class="leaderimg"  src="{{ person.person2_pic }}">
                        </div>
                        <div class="card-content">
                          <span class="card-title activator grey-text text-darken-4">{{ person.person2_name|truncatechars:5 }}<i class="material-icons right">more_vert</i></span>

                        </div>
                        <div class="card-reveal">
                          <span class="card-title grey-text text-darken-4">{{ person.person2_name }}<i class="material-icons right">close</i></span>
                          <p>{{ person.person2_remark }}</p>
                        </div>
                      </div>
                </div>
                <div class="col-md-4 col-sm-4">
                        <div class="card">
                        <div class="card-image waves-effect waves-block waves-light">
                          <img class="leaderimg"  src="{{ person.person3_pic }}">
                        </div>
                        <div class="card-content">
                          <span class="card-title activator grey-text text-darken-4">{{ person.person3_name|truncatechars:5 }}<i class="material-icons right">more_vert</i></span>
                         
                        </div>
                        <div class="card-reveal">
                          <span class="card-title grey-text text-darken-4">{{ person.person3_name }}<i class="material-icons right">close</i></span>
                          <p>{{ person.person3_remark }}</p>
                        </div>
                      </div>
                </div>
                <div class="col-md-4 col-sm-4">
                     <div class="card">
                        <div class="card-image waves-effect waves-block waves-light">
                          <img class="leaderimg" src="{{ person.person4_pic }}">
                        </div>
                        <div class="card-content">
                          <span class="card-title activator grey-text text-darken-4">{{ person.person4_name|truncatechars:5 }}<i class="material-icons right">more_vert</i></span>
                          
                        </div>
                        <div class="card-reveal">
                          <span class="card-title grey-text text-darken-4">{{ person.person4_name }}<i class="material-icons right">close</i></span>
                          <p>{{ person.person4_remark }}</p>
                        </div>
                      </div>
                </div>
                <div class="col-md-4 col-sm-4">
                        <div class="card">
                        <div class="card-image waves-effect waves-block waves-light">
                          <img class="leaderimg" src="{{ person.person5_pic }}">
                        </div>
                        <div class="card-content">
                          <span class="card-title activator grey-text text-darken-4">{{ person.person5_name|truncatechars:5 }}<i class="material-icons right">more_vert</i></span>
                          
                        </div>
                        <div class="card-reveal">
                          <span class="card-title grey-text text-darken-4">{{ person.person5_name }}<i class="material-icons right">close</i></span>
                          <p>{{ person.person5_remark }}</p>
                        </div>
                      </div>
                </div>
                <div class="col-md-4 col-sm-4">
                        <div class="card">
                        <div class="card-image waves-effect waves-block waves-light">
                          <img class="leaderimg" src="{{ person.person6_pic }}">
                        </div>
                        <div class="card-content">
                          <span class="card-title activator grey-text text-darken-4">{{ person.person6_name|truncatechars:5 }}<i class="material-icons right">more_vert</i></span>
                          
                        </div>
                        <div class="card-reveal">
                          <span class="card-title grey-text text-darken-4">{{ person.person6_name }}<i class="material-icons right">close</i></span>
                          <p>{{ person.person6_remark }}</p>

                        </div>
                      </div>
                </div>
            </div>

                    </div>

            </div>
            <!-- /. PAGE INNER  -->
        </div>
        <!-- /. PAGE WRAPPER  -->
    </div>
    <!-- /. WRAPPER  -->
    <!-- JS Scripts-->
    <!-- jQuery Js -->
<!--   <script src="assets/js/jquery-1.10.2.js"></script> -->
	<script src="{% static 'login/assets/js/jquery-1.10.2.js' %}"></script>
	<!-- Bootstrap Js -->
<!--    <script src="assets/js/bootstrap.min.js"></script> -->
	<script src="{% static 'login/assets/js/bootstrap.min.js' %}"></script>
<!--	<script src="assets/materialize/js/materialize.min.js"></script> -->
	<script src="{% static 'login/assets/materialize/js/materialize.min.js' %}"></script>
    <!-- Metis Menu Js -->
 <!--   <script src="assets/js/jquery.metisMenu.js"></script> -->
         <script src="{% static 'login/assets/js/jquery.metisMenu.js' %}"></script>
    <!-- Morris Chart Js -->
  <!--  <script src="assets/js/morris/raphael-2.1.0.min.js"></script> -->
        <script src="{% static 'login/assets/js/morris/raphael-2.1.0.min.js' %}"></script>
<!--    <script src="assets/js/morris/morris.js"></script> -->
	<script src="{% static 'login/assets/js/morris/morris.js' %}"></script>

<!--	<script src="assets/js/easypiechart.js"></script> -->
        <script src="{% static 'login/assets/js/easypiechart.js' %}"></script>
<!--	<script src="assets/js/easypiechart-data.js"></script> -->
	 <script src="{% static 'login/assets/js/easypiechart-data.js' %}"></script>
<!--	 <script src="assets/js/Lightweight-Chart/jquery.chart.js"></script> -->
	 <script src="{% static 'login/assets/js/Lightweight-Chart/jquery.chart.js' %}"></script>
    <!-- Custom Js -->
  <!--  <script src="assets/js/custom-scripts.js"></script> -->
        <script src="{% static 'login/assets/js/custom-scripts.js' %}"></script>
 

</body>

</html>