body {
    text-align: center;
    background: url('../image/log_bg.jpg') 0px 0px no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.form-register {
  width: 100%;
  max-width: 400px;
  padding: 15px;
  margin: 0 auto;
}

.form-group {
  margin-bottom: 5px;
}
form a{
  display: inline-block;
  margin-top:25px;
  line-height: 10px;
}